.meme { 
    margin: 3%; 
    position: relative; 
} 

.top { 
    position: absolute; 
    top: 17px; 
    left: 30%; 
    color: white;
    background-color: black;
} 

.bottom { 
    position: absolute; 
    bottom: 20px; 
    left: 30%; 
    color: white;
    background-color: black;
} 